
@mixin mediaquery-mobile
    @media (max-width: 1024px)
        @content


*
    outline: solid 1px white

body
    box-sizing: border-box
    font-family: 'Nunito'
    // font-size: 0
    height: 100vh
    padding: 100px calc( (100% - 400px)/2 )
    background-image: url(../pic/polly_login.jpg)
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    // background-color: rgba(68, 68, 68, 0.3)
    @include mediaquery-mobile
        padding: 50px 30px

header
    position: relative
    .back
        display: inline-block
        // font-size: 20px
        font-size: 0
        height: 42px
    button
        position: absolute
        right: 0

main
    .card
        
    .nav
        