
@mixin mediaquery-mobile
    @media (max-width: 1024px)
        @content

@mixin rwd-sm
    @media (min-width: 576px)
        @content

@mixin rwd-md
    @media (min-width: 768px)
        @content

@mixin rwd-lg
    @media (min-width: 992px)
        @content

*
    // outline: solid 1px white
    box-sizing: border-box

html
    // font-size: 18px
body
    font-family: "Lobster", "Noto Sans TC", sans-serif,  cursive
    // font-size: 18px
    // height: 100vhs
    // padding: 100px calc( (100% - 400px)/2 )
    padding: 60px 50px
    // background-color: #AEE7E8
    background: linear-gradient(rgb(117, 117, 117), rgb(70, 70, 70))
    // @include mediaquery-mobile
    //     padding: 50px 30px
    @include rwd-sm
        height: 100vh

.sign-up
    display: none
.sign-in
    display: none

.card
    width: 400px
    margin: 0 auto
    border-radius: 10px
    background-color: #AEE7E8
    border: none
    @include mediaquery-mobile
        width: 255px
    h5
        font-size: 40px
        margin: 40px auto
        padding: 5px 10px
        border-radius: 50%
        width: 150px
        height: 150px
        background-image: url(../pic/小山共乘.png)
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
    #login1,#login2,#login3,#register1,#register2,#register3
        width: 40px
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
    #login1,#register1
        background-image: url(../pic/user.png)
    #login2,#register2,#register3
        background-image: url(../pic/key.png)
    .login
        text-align: center
    button
        color: white
        font-weight: 600
        width: 100px
        border-radius: 20px
        border: solid 1px
        @include mediaquery-mobile
            display: block
            margin: 0 auto
    .btn-login,.btn-register
        background-color: #248EA9
        border-color: #28C3D4
        margin-right: 20px
        @include mediaquery-mobile
            margin-right: auto
    .btn-login:hover,.bt-sign-up:hover,.bt-sign-in:hover,.btn-register:hover
        color: black
        background-color: #28C3D4
        border-color: #28C3D4
    .bt-sign-up,.bt-sign-in
        color: #28C3D4
        border-color: #28C3D4
        @include mediaquery-mobile
            margin-top: 10px

figure
    display: inline-block
    height: 0
    width: 25%
    margin: 0
    background-size: 60px auto
    background-position: top center
    background-repeat: no-repeat


main
    @include rwd-lg
        height: 500px
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
    section        
        @include rwd-sm
            box-shadow: 0 15px 30px #222222
    section#login-intro
        color: #fff
        padding: 1rem
        background: linear-gradient(rgb(98, 194, 134), rgb(76, 155, 106))
        border-radius: .5rem .5rem 0 0
        @include rwd-sm
            border-radius: .5rem 0 0 .5rem
        @include rwd-md
            padding: 2.5rem 2rem
        p
            color: #ddd
            display: none
            @include rwd-sm
                display: block
    section#login-card
        padding: 2rem 0.8rem
        background: linear-gradient(rgb(74, 105, 146), rgb(61, 89, 124))
        @include rwd-sm
            border-radius: 0 .5rem .5rem 0
        @include rwd-md
            padding: 2.5rem 2rem
    section #signIn,#signUp
        margin-bottom: 1rem
        h2
            margin-bottom: 1.5rem
            color: #ccc
            @include rwd-sm
                margin-bottom: 3rem
            span
                color: #fff
                margin-right: 1rem
                border-bottom: solid 2px rgb(98, 194, 134)
                @include rwd-lg
                    margin-right: 3rem
            button
                cursor: pointer
                color: #ccc
                border: solid transparent
                background-color: transparent
        input
            display: block
            width: 100%
            padding: 0.3rem 0.7rem
            margin-bottom: 1.5rem
            font-size: 1rem
            font-family: sans-serif
            color: #fff
            border: solid transparent
            border-bottom: solid 1px #eee
            background-color: transparent
        input:focus
            outline: none
        input::-webkit-input-placeholder
            color: #ddd
        input::-moz-placeholder
            color: #ddd
        input:-ms-input-placeholder
            color: #ddd
        .btn-signIn,.btn-signUp
            cursor: pointer
            padding: .5px 1.5rem
            border-radius: 3rem
            font-size: 1.2rem
            background-color: rgb(98, 194, 134)

    section #signUp
        display: none
        span
            color: #fff
            margin-left: 1rem
            @include rwd-lg
                margin-left: 3rem
    #intro
        padding: 1rem
        color: #ddd
        background: linear-gradient(rgb(61, 89, 124), rgb(49, 69, 95))
        border-radius: 0 0 .5rem .5rem
        @include rwd-sm
            display: none

