
@mixin mediaquery-mobile
    @media (max-width: 1024px)
        @content


*
    // outline: solid 1px white

body
    box-sizing: border-box
    font-family: 'Nunito'
    font-size: 0
    height: 100vh
    padding: 100px calc( (100% - 400px)/2 )
    // background-image: url(../pic/polly_login.jpg)
    // background-size: cover
    // background-position: center center
    // background-repeat: no-repeat
    background-color: #AEE7E8
    @include mediaquery-mobile
        padding: 50px 30px

.sign-up
    display: none
.sign-in
    // display: none

.card
    width: 400px
    margin: 0 auto
    border-radius: 10px
    background-color: #AEE7E8
    border: none
    @include mediaquery-mobile
        width: 255px
    h5
        font-size: 40px
        margin: 40px auto
        padding: 5px 10px
        border-radius: 50%
        width: 150px
        height: 150px
        background-image: url(../pic/小山共乘.png)
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
    #login1,#login2,#login3,#register1,#register2,#register3
        width: 40px
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
    #login1,#register1
        background-image: url(../pic/user.png)
    #login2,#register2,#register3
        background-image: url(../pic/key.png)
    .login
        text-align: center
    button
        color: white
        font-weight: 600
        width: 100px
        border-radius: 20px
        border: solid 1px
        @include mediaquery-mobile
            display: block
            margin: 0 auto
    .btn-login
        background-color: #7a7265
        border-color: #c6ad94
        margin-right: 20px
        @include mediaquery-mobile
            margin-right: auto
    .btn-login:hover,.bt-sign-up:hover,.bt-sign-in:hover
        color: black
        background-color: #c6ad94
        border-color: #7a7265
    .bt-sign-up,.bt-sign-in
        color: #28C3D4
        border-color: #28C3D4
        @include mediaquery-mobile
            margin-top: 10px

figure
    display: inline-block
    height: 0
    width: 25%
    margin: 0
    background-size: 60px auto
    background-position: top center
    background-repeat: no-repeat

