body {
  font-family: "Lobster", "Noto Sans TC", sans-serif,  cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 40px 0 0 0;
  background: #141e2b;
}

@media (min-width: 576px) {
  body {
    position: static;
    padding: 50px;
  }
}

@media (min-width: 992px) {
  body {
    height: initial;
  }
}

header {
  height: 15vh;
  padding: 0 1rem;
  font-size: 0;
}

@media (min-width: 768px) {
  header {
    height: initial;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  header {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

header > div {
  display: inline-block;
  width: calc( 100% - 80px);
}

@media (min-width: 768px) {
  header > div {
    width: calc( 100% - 120px);
  }
}

@media (min-width: 992px) {
  header > div {
    width: calc( 100% - 160px);
  }
}

header h1 {
  margin: 0;
  padding: .5rem 0 0 1rem;
  font-size: 2rem;
  color: white;
}

@media (min-width: 576px) {
  header h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  header h1 {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  header h1 {
    padding: 30px;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header h1 {
    font-size: 3.5rem;
  }
}

header img {
  width: 80px;
  vertical-align: top;
}

@media (min-width: 768px) {
  header img {
    width: 120px;
  }
}

@media (min-width: 992px) {
  header img {
    width: 160px;
  }
}

header nav {
  position: absolute;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  padding: 70px 0;
  font-size: 1.5rem;
  background: rgba(204, 204, 204, 0.9);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media (min-width: 576px) {
  header nav {
    position: relative;
    width: initial;
    height: initial;
    right: 0;
    padding: 0;
    color: white;
    text-align: end;
    background-color: transparent;
  }
}

header nav h2 {
  display: inline;
  font-size: 1.5rem;
}

header nav #nav-addRecord, header nav #nav-searchRecords, header nav #logout {
  padding: 0 0 0 15px;
  margin: 0 0 1.5rem 0;
  border-bottom: solid 1px black;
  cursor: pointer;
}

@media (min-width: 576px) {
  header nav #nav-addRecord, header nav #nav-searchRecords, header nav #logout {
    display: inline;
    border-bottom: none;
  }
}

header nav .aside {
  position: absolute;
  top: 90px;
  left: -34px;
  width: 34px;
  height: 45px;
  border-radius: 50% 0 0 50%;
  background-color: #eee;
  background-image: url(../pic/arrow.png);
}

@media (min-width: 576px) {
  header nav .aside {
    display: none;
  }
}

header nav.active {
  right: 0;
}

header nav.active .aside {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 0 50% 50% 0;
}

header .searchRecordsIcon, header .addRecordsIcon, header .logoutIcon, header .aside {
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

header .searchRecordsIcon, header .addRecordsIcon, header .logoutIcon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 .5rem 0 0;
  border: solid 2px black;
  border-radius: 50%;
  vertical-align: top;
  background-color: #28C3D4;
}

header .searchRecordsIcon {
  background-image: url(../pic/loupe.png);
}

header .addRecordsIcon {
  background-image: url(../pic/plus-sign.png);
}

header .logoutIcon {
  background-color: #ff4a4a;
  background-image: url(../pic/logout.png);
}

@media (min-width: 992px) {
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
}

section#recordList {
  color: white;
}

section#recordList ul {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  list-style-type: none;
  height: 70vh;
  overflow: scroll;
  background: -webkit-gradient(linear, left top, left bottom, from(#31455f), to(#44638a));
  background: linear-gradient(#31455f, #44638a);
}

section#recordList li {
  margin: 1rem;
  padding: 0 2rem;
  border-bottom: 1px solid #000;
  background: transparent;
}

@media (min-width: 768px) {
  section#recordList li {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  section#recordList li span {
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  section#recordList li p {
    display: inline;
  }
}

section#recordList li .local_data {
  color: #ffbb00;
}

section#recordList li .ptt_data {
  color: #00ff04;
}

section#addRecords, #list, #list_ptt, #search {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(170, 170, 170, 0.7);
}

.add, .list, .search {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  font-size: 1.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#464646));
  background: linear-gradient(#757575, #464646);
  border-radius: 20px;
}

@media (min-width: 576px) {
  .add, .list, .search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 80vh;
    overflow: scroll;
  }
}

.add h3, .list h3, .search h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.add span, .list span, .search span {
  display: inline-block;
  width: 30%;
}

.add a, .list a, .search a {
  color: #52a0ff;
}

.add input, .add p, .list input, .list p, .search input, .search p {
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
  border-bottom: solid 1px #000;
  text-align: center;
  background-color: transparent;
}

.add input, .list input, .search input {
  margin-bottom: 2rem;
  border: transparent;
  border-bottom: solid 1px #000;
}

.add textarea, .list textarea, .search textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40vh;
  border-radius: 8px;
  background-color: #dddddd;
}

.add textarea:focus, .list textarea:focus, .search textarea:focus {
  outline: none;
}

.add button, .list button, .search button {
  display: block;
  width: 60%;
  margin: 20px auto 0;
  border-radius: 1rem;
}

.add button.backToHomepage, .list button.backToHomepage, .search button.backToHomepage {
  background: #62c286;
}

.search {
  padding: 10%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#b1b1b1), to(#7c7c7c));
  background: linear-gradient(#b1b1b1, #7c7c7c);
}

@media (min-width: 768px) {
  .search {
    padding: 5%;
  }
}

footer {
  padding: 10px;
  color: wheat;
  text-align: center;
}
/*# sourceMappingURL=home_page.css.map */