body {
  font-family: "Lobster", "Noto Sans TC", sans-serif,  cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  height: 100vh;
  padding: 40px 0;
  background: #141e2b;
}

@media (min-width: 576px) {
  body {
    padding: 50px;
  }
}

header {
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-size: 0;
}

header > div {
  display: inline-block;
  width: calc( 100% - 80px);
}

header h1 {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 2rem;
  color: white;
}

header img {
  width: 80px;
  vertical-align: top;
}

header nav {
  position: absolute;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  padding: 70px 0;
  font-size: 1.5rem;
  background: rgba(204, 204, 204, 0.8);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header nav > div {
  padding: 0 0 0 15px;
  margin: 0 0 1.5rem 0;
  border-bottom: solid 1px black;
}

header nav .aside {
  position: absolute;
  top: 90px;
  left: -34px;
  width: 34px;
  height: 45px;
  padding: 0;
  margin: 0;
  border-radius: 50% 0 0 50%;
  background-color: #eee;
  background-image: url(../pic/arrow.png);
}

header nav.active {
  right: 0;
}

header nav.active .aside {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 0 50% 50% 0;
}

header .btn-search, header .btn-add, header .btn-logout, header .aside {
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

header .btn-search, header .btn-add, header .btn-logout {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  margin: 0 .5rem 0 0;
  border: solid 2px black;
  border-radius: 50%;
  background-color: #28C3D4;
}

header .btn-search {
  background-image: url(../pic/loupe.png);
}

header .btn-add {
  background-image: url(../pic/plus-sign.png);
}

header .btn-logout {
  background-color: #ff2e2e;
  background-image: url(../pic/logout.png);
}

header button {
  vertical-align: top;
}

section#lists {
  background-color: rgba(170, 170, 170, 0.8);
  color: white;
}

@media (max-width: 1024px) {
  section#lists {
    background-color: rgba(170, 170, 170, 0.5);
  }
}

section#lists ul {
  margin: 0;
  padding: 0;
  font-size: 30px;
  list-style-type: none;
  height: 90vh;
  overflow: scroll;
  background: -webkit-gradient(linear, left top, left bottom, from(#31455f), to(#44638a));
  background: linear-gradient(#31455f, #44638a);
}

section#lists li {
  list-style-position: inside;
  border-bottom: 1px solid #000;
  margin-top: 15px;
  background: transparent;
}

section#lists li .local_data {
  color: #ffbb00;
}

section#lists li .ptt_data {
  color: #00ff04;
  font-weight: bold;
}

@media (max-width: 1024px) {
  section#lists li p, section#lists li a {
    font-size: 22px;
  }
}

section#addRecords, #list, #list_ptt, #search {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 100px 200px;
  background-color: rgba(170, 170, 170, 0.7);
}

@media (max-width: 1024px) {
  section#addRecords, #list, #list_ptt, #search {
    padding: 40px 0;
  }
}

.add, .list, .search {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .add, .list, .search {
    width: auto;
  }
}

.add h5, .list h5, .search h5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}

.add input, .list input, .search input {
  margin-bottom: 10px;
}

.add textarea, .list textarea, .search textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 0.6);
}

.add textarea:focus, .list textarea:focus, .search textarea:focus {
  outline: none;
}

.add button, .list button, .search button {
  display: block;
  margin: 10px auto 0;
}

.search {
  text-align: center;
}
/*# sourceMappingURL=home_page.css.map */