@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lobster", "Noto Sans TC", sans-serif,  cursive;
  padding: 60px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#464646));
  background: linear-gradient(#757575, #464646);
}

@media (min-width: 576px) {
  body {
    height: 100vh;
  }
}

.sign-up {
  display: none;
}

.sign-in {
  display: none;
}

.card {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #AEE7E8;
  border: none;
}

@media (max-width: 1024px) {
  .card {
    width: 255px;
  }
}

.card h5 {
  font-size: 40px;
  margin: 40px auto;
  padding: 5px 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url(../pic/小山共乘.png);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.card #login1, .card #login2, .card #login3, .card #register1, .card #register2, .card #register3 {
  width: 40px;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.card #login1, .card #register1 {
  background-image: url(../pic/user.png);
}

.card #login2, .card #register2, .card #register3 {
  background-image: url(../pic/key.png);
}

.card .login {
  text-align: center;
}

.card button {
  color: white;
  font-weight: 600;
  width: 100px;
  border-radius: 20px;
  border: solid 1px;
}

@media (max-width: 1024px) {
  .card button {
    display: block;
    margin: 0 auto;
  }
}

.card .btn-login, .card .btn-register {
  background-color: #248EA9;
  border-color: #28C3D4;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .card .btn-login, .card .btn-register {
    margin-right: auto;
  }
}

.card .btn-login:hover, .card .bt-sign-up:hover, .card .bt-sign-in:hover, .card .btn-register:hover {
  color: black;
  background-color: #28C3D4;
  border-color: #28C3D4;
}

.card .bt-sign-up, .card .bt-sign-in {
  color: #28C3D4;
  border-color: #28C3D4;
}

@media (max-width: 1024px) {
  .card .bt-sign-up, .card .bt-sign-in {
    margin-top: 10px;
  }
}

figure {
  display: inline-block;
  height: 0;
  width: 25%;
  margin: 0;
  background-size: 60px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  main {
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (min-width: 576px) {
  main section {
    -webkit-box-shadow: 0 15px 30px #222222;
            box-shadow: 0 15px 30px #222222;
  }
}

main section#login-intro {
  color: #fff;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#62c286), to(#4c9b6a));
  background: linear-gradient(#62c286, #4c9b6a);
  border-radius: .5rem .5rem 0 0;
}

@media (min-width: 576px) {
  main section#login-intro {
    border-radius: .5rem 0 0 .5rem;
  }
}

@media (min-width: 768px) {
  main section#login-intro {
    padding: 2.5rem 2rem;
  }
}

main section#login-intro p {
  color: #ddd;
  display: none;
}

@media (min-width: 576px) {
  main section#login-intro p {
    display: block;
  }
}

main section#login-card {
  padding: 2rem 0.8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a6992), to(#3d597c));
  background: linear-gradient(#4a6992, #3d597c);
}

@media (min-width: 576px) {
  main section#login-card {
    border-radius: 0 .5rem .5rem 0;
  }
}

@media (min-width: 768px) {
  main section#login-card {
    padding: 2.5rem 2rem;
  }
}

main section #signIn, main #signUp {
  margin-bottom: 1rem;
}

main section #signIn h2, main #signUp h2 {
  margin-bottom: 1.5rem;
  color: #ccc;
}

@media (min-width: 576px) {
  main section #signIn h2, main #signUp h2 {
    margin-bottom: 3rem;
  }
}

main section #signIn h2 span, main #signUp h2 span {
  color: #fff;
  margin-right: 1rem;
  border-bottom: solid 2px #62c286;
}

@media (min-width: 992px) {
  main section #signIn h2 span, main #signUp h2 span {
    margin-right: 3rem;
  }
}

main section #signIn h2 button, main #signUp h2 button {
  cursor: pointer;
  color: #ccc;
  border: solid transparent;
  background-color: transparent;
}

main section #signIn input, main #signUp input {
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  color: #fff;
  border: solid transparent;
  border-bottom: solid 1px #eee;
  background-color: transparent;
}

main section #signIn input:focus, main #signUp input:focus {
  outline: none;
}

main section #signIn input::-webkit-input-placeholder, main #signUp input::-webkit-input-placeholder {
  color: #ddd;
}

main section #signIn input::-moz-placeholder, main #signUp input::-moz-placeholder {
  color: #ddd;
}

main section #signIn input:-ms-input-placeholder, main #signUp input:-ms-input-placeholder {
  color: #ddd;
}

main section #signIn .btn-signIn, main section #signIn .btn-signUp, main #signUp .btn-signIn, main #signUp .btn-signUp {
  cursor: pointer;
  padding: .5px 1.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  background-color: #62c286;
}

main section #signUp {
  display: none;
}

main section #signUp span {
  color: #fff;
  margin-left: 1rem;
}

@media (min-width: 992px) {
  main section #signUp span {
    margin-left: 3rem;
  }
}

main #intro {
  padding: 1rem;
  color: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d597c), to(#31455f));
  background: linear-gradient(#3d597c, #31455f);
  border-radius: 0 0 .5rem .5rem;
}

@media (min-width: 576px) {
  main #intro {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */