@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lobster", "Noto Sans TC", sans-serif,  cursive;
  padding: 60px 50px;
  background-color: #AEE7E8;
}

.sign-up {
  display: none;
}

.sign-in {
  display: none;
}

.card {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #AEE7E8;
  border: none;
}

@media (max-width: 1024px) {
  .card {
    width: 255px;
  }
}

.card h5 {
  font-size: 40px;
  margin: 40px auto;
  padding: 5px 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url(../pic/小山共乘.png);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.card #login1, .card #login2, .card #login3, .card #register1, .card #register2, .card #register3 {
  width: 40px;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.card #login1, .card #register1 {
  background-image: url(../pic/user.png);
}

.card #login2, .card #register2, .card #register3 {
  background-image: url(../pic/key.png);
}

.card .login {
  text-align: center;
}

.card button {
  color: white;
  font-weight: 600;
  width: 100px;
  border-radius: 20px;
  border: solid 1px;
}

@media (max-width: 1024px) {
  .card button {
    display: block;
    margin: 0 auto;
  }
}

.card .btn-login, .card .btn-register {
  background-color: #248EA9;
  border-color: #28C3D4;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .card .btn-login, .card .btn-register {
    margin-right: auto;
  }
}

.card .btn-login:hover, .card .bt-sign-up:hover, .card .bt-sign-in:hover, .card .btn-register:hover {
  color: black;
  background-color: #28C3D4;
  border-color: #28C3D4;
}

.card .bt-sign-up, .card .bt-sign-in {
  color: #28C3D4;
  border-color: #28C3D4;
}

@media (max-width: 1024px) {
  .card .bt-sign-up, .card .bt-sign-in {
    margin-top: 10px;
  }
}

figure {
  display: inline-block;
  height: 0;
  width: 25%;
  margin: 0;
  background-size: 60px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

main section#login-intro {
  padding: 1rem;
  background-color: #ddd;
}

@media (min-width: 768px) {
  main section#login-intro {
    padding: 2.5rem 2rem;
  }
}

main section#login-intro p {
  display: none;
}

@media (min-width: 576px) {
  main section#login-intro p {
    display: block;
  }
}

main section#login-card {
  padding: 2rem 0.8rem;
  background-color: #ccc;
}

@media (min-width: 768px) {
  main section#login-card {
    padding: 2.5rem 2rem;
  }
}

main section #signIn {
  margin-bottom: 1rem;
}

main section #signIn h2 {
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  main section #signIn h2 {
    margin-bottom: 3rem;
  }
}

main section #signIn h2 button {
  color: #A7B4C6;
}

main section #signIn input {
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border: solid transparent;
  border-bottom: solid 1px black;
  background-color: transparent;
}

main section #signIn .btn-signIn {
  width: 6rem;
  border-radius: 3rem;
  font-size: 1rem;
  background-color: #ddd;
}

@media (min-width: 768px) {
  main section #signIn .btn-signIn {
    width: 8rem;
  }
}

main section #signUp {
  display: none;
  background-color: #eee;
}

main #intro {
  padding: 1rem;
  background-color: #ddd;
}

@media (min-width: 576px) {
  main #intro {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */